name: Docker build, push and deploy Production

on:
  release:
    types:
    - published

env: 
  AWS_REGION: ca-central-1
  REGISTRY: ${{ vars.PROD_AWS_ACCOUNT_ID }}.dkr.ecr.ca-central-1.amazonaws.com
  TAG_VERSION: ${{ github.ref_name }}

permissions:
  id-token: write
  contents: write
  
jobs:
  docker-build-push-deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - export: platform/gc_notify
            lambda: platform-gc-notify-export
          - export: platform/gc_design_system/airtable
            lambda: platform-gc-design-system-airtable-export
          - export: platform/gc_design_system/npm
            lambda: platform-gc-design-system-npm-export
          - export: platform/gc_design_system/cloudfront
            lambda: platform-gc-design-system-cloudfront-export
          - export: platform/support/freshdesk
            lambda: platform-support-freshdesk-export
          - export: operations/google_analytics
            lambda: operations-google-analytics-export

    steps:
    - name: Audit DNS requests
      uses: cds-snc/dns-proxy-action@b9ffe8da86bdc1f890ad0c2678e499592cacd442
      env:
        DNS_PROXY_FORWARDTOSENTINEL: "true"
        DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
        DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Setup QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        role-to-assume: arn:aws:iam::${{ vars.PROD_AWS_ACCOUNT_ID }}:role/data-lake-release
        role-session-name: DockerBuildPush
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

    - name: Build and push Docker image to Amazon ECR
      working-directory: ./export/${{ matrix.export }}
      run: |
        make docker
        docker tag ${{matrix.lambda}} $REGISTRY/${{matrix.lambda}}:${{ env.TAG_VERSION }}
        docker tag ${{matrix.lambda}} $REGISTRY/${{matrix.lambda}}:latest
        docker push $REGISTRY/${{matrix.lambda}}:${{ env.TAG_VERSION }}
        docker push $REGISTRY/${{matrix.lambda}}:latest

    - name: Update Lambda Docker image
      run: |
        aws lambda update-function-code \
          --function-name ${{matrix.lambda}} \
          --image-uri $REGISTRY/${{matrix.lambda}}:${{ env.TAG_VERSION }} > /dev/null 2>&1
        aws lambda wait function-updated \
          --function-name ${{matrix.lambda}}

    - name: Docker generate SBOM
      uses: cds-snc/security-tools/.github/actions/generate-sbom@34794baf2af592913bb5b51d8df4f8d0acc49b6f # v3.2.0
      env:
        TRIVY_DB_REPOSITORY: ${{ vars.TRIVY_DB_REPOSITORY }}
      with:
        docker_image: "$REGISTRY/${{matrix.lambda}}:${{ env.TAG_VERSION }}"
        dockerfile_path: "./export/${{ matrix.export }}/Dockerfile"
        platform: "linux/arm64"
        sbom_name: "${{matrix.lambda}}"
        token: "${{ secrets.GITHUB_TOKEN }}"
  
