name: ETL pull request tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "terragrunt/aws/glue/etl/**"
      - "terragrunt/aws/glue/curated/**"
      - ".github/workflows/etl-pull-request.yml"

env:
  GLUE_BASE_PATH: terragrunt/aws/glue

jobs:
  glue-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # ETL modules
          - module_type: etl
            module_path: bes/crm
          - module_type: etl  
            module_path: platform/gc_forms
          - module_type: etl
            module_path: platform/gc_notify
          - module_type: etl
            module_path: platform/support/freshdesk
          # Curated modules
          - module_type: curated
            module_path: platform/gc_notify
    steps:
      - name: Audit DNS requests
        uses: cds-snc/dns-proxy-action@b9ffe8da86bdc1f890ad0c2678e499592cacd442
        env:
          DNS_PROXY_FORWARDTOSENTINEL: "true"
          DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
          DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            module:
              - '${{ env.GLUE_BASE_PATH }}/${{ matrix.module_type }}/${{ matrix.module_path }}/**'
              - '.github/workflows/etl-pull-request.yml'

      - name: Setup python
        if: steps.changes.outputs.module == 'true'
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"

      - name: Setup Java
        if: steps.changes.outputs.module == 'true'
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run PR tests
        if: steps.changes.outputs.module == 'true'
        working-directory: ${{ env.GLUE_BASE_PATH }}/${{ matrix.module_type }}/${{ matrix.module_path }}
        run: make ARGS=--check pull_request
