name: Export pull request tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "export/**"
      - ".github/workflows/export-pull-request.yml"

env:
  AWS_REGION: ca-central-1

permissions:
  id-token: write
  contents: read

jobs:
  export-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        export:
          - platform/gc_notify
          - platform/gc_design_system/airtable
          - platform/support/freshdesk
          - operations/google_analytics
    steps:
      - name: Audit DNS requests
        uses: cds-snc/dns-proxy-action@b63a989befc20506036aab86a7d66c4159272637
        env:
          DNS_PROXY_FORWARDTOSENTINEL: "true"
          DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
          DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            export:
              - 'export/${{ matrix.export }}/**'
              - '.github/workflows/export-pull-request.yml'

      - name: Exit if no changes
        if: steps.changes.outputs.export == 'false'
        run: |
          echo "No changes to test"
          exit 0

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
  
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
  
      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::739275439843:role/data-lake-plan
          role-session-name: ExportPullRequest
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1 

      - name: Setup python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"

      - name: Run PR tests
        working-directory: ./export/${{ matrix.export }}
        run: make ARGS=--check pull_request
