name: "Glue Job Sync"

on:
  schedule:
    - cron: "15 4 * * *" # Daily at 4:15am UTC
  workflow_dispatch:

env:
  AWS_REGION: ca-central-1

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  glue-job-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::739275439843:role/data-lake-apply
          role-session-name: TFApply
          aws-region: ${{ env.AWS_REGION }}

      - name: Create PR if changes
        env:
          GH_TOKEN: ${{ github.token }}
        run: ./.github/workflows/scripts/sync-glue-jobs.sh
